@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 26 100% 99%;
    --foreground: 220 10% 29%;

    --card: 0 0% 100%;
    --card-foreground: 220 10% 29%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 29%;

    --primary: 9 69% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 17 100% 94%;
    --secondary-foreground: 220 10% 29%;

    --muted: 210 20% 96%;
    --muted-foreground: 220 10% 55%;

    --accent: 220 10% 29%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 9 69% 53%;

    --radius: 0.5rem;

    /* Chart colors */
    --chart-1: 9 69% 53%;
    --chart-2: 220 10% 29%;
    --chart-3: 17 100% 94%;
    --chart-4: 210, 9%, 47%;
    --chart-5: 210, 10%, 64%;
  }

  .dark {
    --background: 220 10% 29%;
    --foreground: 17 100% 94%;

    --card: 220 13% 26%;
    --card-foreground: 17 100% 94%;

    --popover: 220 13% 26%;
    --popover-foreground: 17 100% 94%;

    --primary: 9 69% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 17 100% 94%;
    --secondary-foreground: 220 10% 29%;

    --muted: 220 13% 22%;
    --muted-foreground: 17 35% 84%;

    --accent: 220 13% 26%;
    --accent-foreground: 17 100% 94%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 13% 36%;
    --input: 220 13% 36%;
    --ring: 9 69% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    scroll-behavior: smooth;
    
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-tight;
  }

  ::selection {
    @apply bg-primary/30 text-foreground;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-secondary/50 dark:bg-accent/50;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary/60 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

